body {
	background-image: url("background-writings.png");
	background-attachment: fixed;
}
article {
	padding-left: 10vw;
	padding-right: 10vw;
	margin-top: 100px;
}

h2 {
	text-decoration: underline;
	padding-top: 70px;
}
h3 {
	padding-top: 40px;
}
p, ul {
	width: 85vw;
	margin: 0 auto;
}

li {
	list-style-type: square;
}

#positive {
	color: #00ff00;
}
#negative {
	color: #ff0000;
}
