#solar-system {
	display: grid;
	grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#lophius {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 7;
}
#gallery {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}
#projects {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 2;
}
#links {
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 5;
}
#writings {
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 7;
	grid-row-end: 8;
}
#about {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 7;
}
.star, .planet {
	position: relative;
	text-align: center;
	transform: scale(1);
	transition: .3s;
}
.planet:hover {
	transform: scale(1.2);
	transition: .3s;
}
.planet-text {
  position: absolute;
}

.star-text {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #333333;
	font-size: 4.5em;
	font-style: bold;
	color: #ffffff;
	text-shadow: 2px 2px 0 #00ffff,
		4px 4px 0 #ff00ff;
}

body {
	background-color: #343434;
	background-image: url("stars.png");
}

img {
	justify-self: center;
}

* {
	cursor: url("saucer.png"), auto;
}
@keyframes float {
	0% {transform: translate(0px, 10px)};
	100% {transform: translate(0px, 0px)};
}

