input[type=radio], input[type=checkbox] {
    position: absolute;
    left: -3000px;
}
.speech-bubble {
	word-wrap:break-word;
	display: block;
	padding: 30px;
	color: black;
	min-width: 300px;
	max-width: 300px;
	text-align: center;
	z-index: 4;
}
.speech-bubble-content {
	display: none;
}
.speech-bubble-content {
	background-color: lightcyan;

}
input[type=radio]:checked + .speech-bubble-content {
	display: block;
	min-height: 250px;
	max-height: 250px;
	padding: 15px;
}

.hunting-ground {
	width: 100vw;
	height: 100vh;
}
.inline-icon {
	display: inline;
	height: 20px;
}
.treasure {
	position: absolute;
	z-index: 3;
}
.treasure-box .treasure-preview,
.treasure-input:nth-child(1):checked ~ .hunting-ground .treasure[for=t1],
.treasure-input:nth-child(2):checked ~ .hunting-ground .treasure[for=t2],
.treasure-input:nth-child(3):checked ~ .hunting-ground .treasure[for=t3],
.treasure-input:nth-child(4):checked ~ .hunting-ground .treasure[for=t4],
.treasure-input:nth-child(5):checked ~ .hunting-ground .treasure[for=t5],
.treasure-input:nth-child(6):checked ~ .hunting-ground .treasure[for=t6]
{
	display: none;
}
.treasure-input:nth-child(1):checked ~ .treasure-box .treasure-preview:nth-child(1),
.treasure-input:nth-child(2):checked ~ .treasure-box .treasure-preview:nth-child(2),
.treasure-input:nth-child(3):checked ~ .treasure-box .treasure-preview:nth-child(3),
.treasure-input:nth-child(4):checked ~ .treasure-box .treasure-preview:nth-child(4),
.treasure-input:nth-child(5):checked ~ .treasure-box .treasure-preview:nth-child(5),
.treasure-input:nth-child(6):checked ~ .treasure-box .treasure-preview:nth-child(6)
{
	display: unset;
}

.treasure-input:checked ~ main .speech-bubble .speech-bubble-content .progress {
	visibility:visible;
}
.treasure-input:not(:checked) ~ main .speech-bubble .speech-bubble-content .progress {
	visibility: hidden;
}

.treasure-box {
	position: absolute;
	z-index: 3;
	left: 1462px;
	top: 925px;
	padding: 10px;
	background: #3b3b3b;
}
main {
	position: absolute;
	left: 0px;
	top: 50px;
	display: flex;
	flex-direction: column;

}
.speech-triangle {
width: 0; 
height: 0; 
margin-left: 100px;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
border-top: 150px solid lightcyan;
}
#background {
	position: absolute;
}
.furniture {
	position: absolute;
	z-index: 2;
}
.characters * {
	display: none;
	height: 500px;
}
